header h1 {
    text-align: center;
    background-color: lime;
    padding-block: 2rem;
}

div.card-container {
    justify-self: center;
}

form.card-body {
    label {
        display: block;
    }

    input {
        width: 100%;
    }

    button {
        margin-top: 1rem;
    }
}