body {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 5rem;

    h1 {
        background-color: #127e7e;
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: white;
    }
}

.btn.btn-success {
    background-color: #127e7e;

    &:hover {
        scale: 1.05;
    }
}